---
import Layout from "../layouts/Layout.astro";
import ImageSlider from "../components/ImageSlider.astro";
---

<Layout title="meinhaus.digital – Slider">
  <div class="min-h-dvh flex flex-col justify-between p-4">
    <div class="flex-1 flex items-center justify-center">
      <div class="w-full max-w-5xl">
        <ImageSlider />
      </div>
    </div>
  </div>
</Layout>